.banner {
    text-transform: uppercase;
    background-color: black;
    padding: .75em;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 1.2em;
}

.banner > a {
    color: white;
    margin: 0 .25em;
}