.testimonial-section {
  width: 90%;
  margin: auto;
  height: 28em;
}

.testimonial-cards {
  position: relative;
}

.arrow {
  cursor: pointer;
  position: absolute;
  width: 2em;
  height: 2em;
  top: 50%;
  border: 2px solid black;
}

.arrow.left {
  left: 0;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  transform: translate(-50%, -50%) rotate(45deg);
}

.arrow.right {
  right: 0;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: translate(50%, -50%) rotate(45deg);
}